input{
    border: 1px solid rgb(194, 191, 191) !important;
}
textarea{
    border: 1px solid rgb(194, 191, 191) !important;
}
.cate_selector{
    border: 1px solid rgb(194, 191, 191) !important;
}
.status_check{
    height: 22px;
    width: 22px;
    margin-left: 10px;
}
.popular_check{
    height: 22px;
    width: 22px;
    margin-left: 10px;
}